$font-dm: 'DM Sans', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-noto: 'Noto Sans', sans-serif;

$primary-color: #eaf1fa;
$secondary-color: #1123f3;
$darkBlue-color: #111827;
$hoverBlue-color: #2234ff;
$dodgerBlue-color: #3da1ff;
$skyBlue-color: #3da1ff;
$lightBlue-color: #eeefff;
$guavaGreen-Color: #6ebb2d;
$cutePink-color: #ff739d;
$salmon-color: #ffd5d5;
$black-color: #030303;
$lightGray-color: #e4e4e486;
$gray-color: #6b7688;
$brown-color: #46364a;
$white-color: #ffffff;

$navbar-height: 64px;

$blur-value: 6px;
