$font-inter: 'Inter', sans-serif;

$primary-color: #eaf1fa;
$secondary-color: #1123f3;
$darkBlue-color: #0b2866;
$hoverBlue-color: #0077ff;
$dodgerBlue-color: #2294ff;
$skyBlue-color: #3da1ff;
$darkBlue-color: #111827;
$lightBlue-color: #e1eeff;
$darkPink-color: rgba(255, 45, 115, 0.575);
$cutePink-color: #ff739d;
$salmon-color: #ffe8e8;
$black-color: #030303;
$lightGray-color: #e4e4e486;
$gray-color: #7988a0;
$brown-color: #46364a;
$white-color: #ffffff;

$navbar-height: 64px;

$blur-value: 6px;
