@import '../variables.scss';
@mixin transition {
  transition: all 0.2s ease-in-out;
}

$card-border-radius: 0.5rem;

section.tourDetailsSection {
  .tourDetails {
    position: relative;
    border-radius: $card-border-radius;
    overflow: hidden;
    box-shadow: 0 1rem 5rem #cdd9ff;

    .tourDetails-image__container {
      position: relative;

      .image__container-heroImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        @include transition;
      }

      .createdAt {
        padding: 0.5rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: absolute;
        opacity: 0.75;
        top: 1.2rem;
        left: 1.2rem;
        font-size: 0.9rem;
        color: $white-color;
        font-weight: 500;
        @include transition;

        img {
          width: 1.1rem;
          height: 1.1rem;
        }

        &:hover {
          background-color: $darkPink-color;
          color: $white-color;
          opacity: 1;
          border-radius: 5px;
        }

        @media screen and (max-width: 768px) {
          opacity: 1;
        }

        @media screen and (max-width: 450px) {
          top: 1rem;
          left: 1rem;
        }
      }

      .tourDetails-creatorName {
        @include transition;
        text-decoration: none;
        color: $black-color;
        font-size: 0.91rem;
        font-weight: 500;
        padding: 0.3rem 0.75rem 0.3rem 0.3rem;
        display: flex;
        align-items: flex-end;
        gap: 0.75rem;
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        background-color: $white-color;
        border-radius: 0.5rem;

        &:hover {
          font-size: 1.1rem;

          img {
            width: 3.6rem;
            height: 3.6rem;
          }

          div {
            p {
              margin-top: 0.1rem;
            }
          }
        }

        @media screen and (max-width: 450px) {
          padding: 0.3rem;
          gap: 0.3rem;
        }

        img {
          @include transition;
          width: 3rem;
          height: 3rem;
          border-radius: 10px;
          background-color: $skyBlue-color;
          object-fit: cover;
        }

        div {
          p {
            margin-top: 0.1rem;
          }
        }

        @media screen and (max-width: 768px) {
          font-size: 0.75rem;
          border-radius: 0.3rem;
          opacity: 1;
          color: $darkBlue-color;

          img {
            @include transition;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 0.3rem;
          }

          &:hover {
            font-size: 1.1rem;

            img {
              width: 3rem;
              height: 3rem;
            }
          }

          div {
            p {
              margin-top: 0rem;
            }
          }
        }

        @media screen and (max-width: 598px) {
          font-size: 0.75rem;

          img {
            @include transition;
            width: 2rem;
            height: 2rem;
            border-radius: 0.3rem;
          }

          &:hover {
            font-size: 0.9rem;

            img {
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
      }

      .likesCount {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 0.84rem;
        background-color: $white-color;
        @include transition;

        &:hover {
          background-color: $skyBlue-color;
          color: $white-color;
        }
      }
    }

    .tourDetails-textBody {
      padding: 1.5rem 1rem 2rem 1rem;

      .textBody-title-and-tags {
        margin-bottom: 1.2rem;

        .title {
          // position: absolute;
          // bottom: 0;
          // left: 0;
          font-weight: 500;
          font-size: 1.1rem;
          margin-bottom: 0.1rem;
        }

        .tags {
          font-size: 0.84rem;
          color: $skyBlue-color;
        }
      }

      .textBody-description {
        font-size: 0.87rem;
        color: $gray-color;
        margin-bottom: 1rem;
      }

      a {
        text-decoration: none;
        font-size: 0.87rem;
      }
    }
  }

  .tourDetails__relatedTours {
    margin: 3rem 0;

    .relatedTours-heading {
      text-align: center;
      margin: 1rem 0;
    }

    p.relatedTours-noToursFound {
      text-align: center;
    }

    .relatedTours-container-grid {
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 350px));
      grid-template-columns: repeat(auto-fit, minmax(min(10px, 100%), 350px));
      justify-content: center;
      margin: 0 auto;
      gap: 3rem;

      // @media screen and (max-width: 1440px) {
      //   grid-template-columns: repeat(auto-fit, minmax(min(270px, 100%), 270px));
      //   gap: 2rem;
      // }

      @media screen and (max-width: 1024px) {
        gap: 2rem;
      }

      @media screen and (max-width: 800px) {
        grid-template-columns: repeat(auto-fit, minmax(min(10px, 100%), 300px));
        gap: 1rem;
      }

      @media screen and (max-width: 650px) {
        grid-template-columns: repeat(auto-fit, minmax(min(10px, 100%), 270px));
      }

      @media screen and (max-width: 590px) {
        grid-template-columns: repeat(auto-fit, minmax(min(10px, 100%), 100%));
      }
    }
  }
}

a {
  text-decoration: none;
  color: $darkPink-color;
  font-size: 0.87rem;
}
