@import './sass/variables.scss';

// Added axact 50px margin from top because our navbar is 50px and is fixed  on top and therefore all our content needs to start 50px from the top to not get cutoff.
.app__wrapper {
  margin-top: $navbar-height;
}

section {
  margin: 0;
  padding: 0.5rem;
  position: relative;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - $navbar-height);

  @media screen and (min-width: 480px) {
    padding: 0.75rem 1rem;
  }
  @media screen and (min-width: 768px) {
    padding: 1.2rem 2rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 1.8rem 3rem;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
}
